  * {
    font-family: sans-serif;
  }

  .dropdown_container{
    height:40px;
    border-radius: 10px;
    margin:10px;
    font-size:12px;
    font-weight: bold;
    background-color: #f1dac4;
    color:#161B33;
    font-family: sans-serif;
    
}
  
  .dropdown_input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  .dropdown_menu {
    position: absolute;
    border:1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #fef1e5;
  }

  .dropdown_item {
    padding:5px;
    cursor: pointer;
  }


  .dropdown_item:hover {
    background-color: #161b33;
    color:white;
  }
  .dropdown_item.selected {
    background-color: #a69cac;
    color:#161b33;
  }

  .search-box {
    padding: 5px;
    width:100%;
    background-color: #eee;
}
.search-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.shown {
  display:flex;
  align-items: center;
  padding-top:4px;
  justify-content: center;
}