/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* added styles */

/* global */

*,
h1,
h2,
h3,
a,
p,
li,
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25;
  font-style: italic;
  color: #F1DAC4;
  padding: 10px 0;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1rem;
}

a:hover {
  color: #F1DAC4;
}

.app {
  background-color: #232323;
  color: #f0f0f0;
  min-height: 100vh;
}

main {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}

/* header */

.header {
  height: 120px;
  background-color: #474973;
  color: #f1dac4;
  padding: 0 10px;
  width: 100%;
  display:flex;
}

.main-title {
  font-weight: bold;
  font-style: italic;
  font-size: 5rem;
  text-shadow: 5px 5px 5px black;
}

.logo {
  height: 100px;
  margin-right: 10px;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.main-nav {
  display: flex;
  align-items: center;
  text-align: right;
}

.main-nav li {
  padding: 0 10px;
  text-align: right;
}

.nav-btn {
  display:flex;
  height:70px;
  width:100px;
  background-color: #161B33;
  border-radius:25px;
  margin:10px;
  text-align: center;
  box-shadow: 5px 5px 5px black;
  align-items: center;
  color:#f1dac4;
  justify-content: center;
}


.logout-btn {
  color: #f0f0f0;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1rem;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.logout-btn:hover {
  color: #F1DAC4;
}

/* form */

.form {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px;
  box-shadow: 5px 5px 20px #171717;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #F1DAC4;
  color: #f0f0f0;
}

.form-btn {
  border: 1px solid #F1DAC4;
  border-radius: 5px;
  color: #F1DAC4;
  background: transparent;
  padding: 10px 20px;
  transition: 0.5s;
  margin-top: 10px;
}

.form-btn:hover {
  background-color: #171717;
  color: #f0f0f0;
  transform: translateY(-3px);
}

/* auth */

.auth-form {
  width: 300px;
  height: 200px;
}

.auth-input {
  width: 200px;
}

.auth-msg {
  margin-bottom: 15px;
}

/* add post */

.add-post-form {
  width: 400px;
  height: 500px;
}

.status-container {
  width: 200px;
}

.textarea {
  border: 1px solid #F1DAC4;
  border-radius: 5px;
  height: 150px;
}

.radio-btn {
  display: flex;
  align-items: center;
}

.add-post-input {
  width: 300px;
}

/* posts */

.post-card {
  width: 500px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  margin: 25px;
  padding: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
